.About {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.LeftSide,
.Desc {
  margin: auto;
  width: 40%;
  height: 80%;
}

.Photo {
  height: 50%;
  border: 1px solid #000000;
}

.Skills {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #d4d4d4;
  /* border: 1px solid #000000; */
}

/* Right Side of Page */
.Desc__about {
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.Desc__interests {
  height: 50%;
}

.Desc__interests-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.Desc__interests-item {
  margin: 2rem auto;
  font-size: 1.6rem;
}
