.Projects {
  width: 80%;
  height: 100%;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.map__trail {
  height: 95%;
  margin-top: auto;
} */

.Project__set {
  width: 90%;
  height: 95%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid #000000;
}

/* .Project__set:last-of-type {
  margin-top: auto;
} */
