.Nav {
  width: 20%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Nav__logo {
  width: 80%;
  margin: 2rem auto 0;
  font-size: 3rem;
  font-weight: 700;
}

.Nav__list {
  /* height: 10rem; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  font-size: 2rem;
  font-weight: 200;
}
.Nav__list-item {
  margin: 1rem 0;
  width: fit-content;
}

.Nav__social {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Nav__social-icon {
  margin: 1rem 0;
  width: fit-content;
  font-size: 2rem;
  position: relative;
}
.Nav__social-icon:hover {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}



.Nav__social-icon.github {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
